
<!-- <div *ngIf="!playlistService.playlistId">
  You aren't connect to a playlist
</div>
<div *ngIf="playlistService.playlistId">
  Playlist !
  <div *ngFor="let element of playlistService.songs">
    <p>ID: {{ element.youtube_id }}</p>
  </div>
</div> -->
<div>Yeah i'm a playlist</div>
<mat-grid-list *ngIf="playlist" cols="1" rowHeight="100px">
  <mat-grid-tile *ngFor="let song of playlist.songs">
    <app-song-detail [song]="song"></app-song-detail>
  </mat-grid-tile>
</mat-grid-list>

<!-- <mat-list *ngIf="playlist" class="app-class">
  <mat-list-item *ngFor="let song of playlist.songs">
    <app-song-detail [song]="song"></app-song-detail>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list> -->
