<!-- if no lobby Id is set -->
<div *ngIf="!createdLobbyId && !joinedLobbyId">
  <div>
    <p>What to create a lobby ?</p>
    <button (click)="createLobby()">Create a lobby !</button>
  </div>

  <div>
    <p>Or maybe to join a lobby !</p>
    <input #lobbyId placeholder="lobby ID"/>
    <button (click)="joinLobby(lobbyId.value)">Join !</button>
  </div>
</div>

<app-master *ngIf="createdLobbyId" [lobbyId]=createdLobbyId></app-master>
<app-client *ngIf="joinedLobbyId" [lobbyId]=joinedLobbyId></app-client>
