<div fxLayout="column">
  <form (ngSubmit)="joinPlaylist()">
      <mat-form-field>
        <div fxLayout="row">
          <input type="text"
                 placeholder="Lobby ID"
                 matInput
                 [formControl]="playlistIdForm">
          <button mat-flat-button>Join !</button>
        </div>
      </mat-form-field>
  </form>

  <div *ngIf="playlistService.playlistId">
    <app-searchbar
      (search)="onSearch($event)">
    </app-searchbar>

    <mat-grid-list cols="1" rowHeight="120px">
      <mat-grid-tile *ngFor="let element of searchResult">
        <app-youtube-video-detail
          style="width: 100%"
          [video]="element"
          (selected)="appendVideo($event)">
        </app-youtube-video-detail>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
